{
    "plugins": [
         ["@babel/plugin-transform-runtime", {
            "corejs": {"version": 3},
            "useESModules": true
        }]
    ],
    "presets": [
        ["@babel/preset-env", {
            "loose": true,
            "modules": false,
            "shippedProposals": true
        }],
        "@babel/preset-react"
    ]
}