{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
         ["@babel/plugin-transform-runtime", {
            "corejs": {"version": 3},
            "useESModules": true
        }]
    ],
    "presets": [
        ["@babel/preset-env", {
            "loose": true,
            "modules": false
        }],
        "@babel/preset-react"
    ]
}