.App {
    text-align: center;
}

.list {
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #00000052;
}

.list > * {
    width: -webkit-fill-available;
    margin: 0.1em;
    padding: 01em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #00000070;
    padding: 0.5em;
}

.dark {
    background-color: #282c34;
    color: #ffffff;
}

.light {
    background-color: #c5c5c0;
    color: #000000;
}